:root {
  --black: #000;
  --gray: #141414;
  --white: #fff;
  --blue: #3d63ac;
  --light-blue: #e4e9f3;
  --green: #428a2f;
  --light-green: #e5efe2;
  --yellow: #b09e3d;
  --light-yellow: #f4f1e4;
}
