:root {
  --black: #000;
  --gray: #141414;
  --white: #fff;
  --blue: #3d63ac;
  --light-blue: #e4e9f3;
  --green: #428a2f;
  --light-green: #e5efe2;
  --yellow: #b09e3d;
  --light-yellow: #f4f1e4;
}

.block-content-icon .block-content-icon_technology,
.block-content-icon .block-content-icon_personalization,
.block-content-icon .block-content-icon_responsibility {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.block-content-icon_technology {
  background-color: var(--green);
}
.block-content-icon_personalization {
  background-color: var(--blue);
}
.block-content-icon_responsibility {
  background-color: var(--yellow);
}
.block-content-icon img {
  width: 24px;
}

@media (min-width: 768px) {
  .block-content-icon .block-content-icon_technology,
  .block-content-icon .block-content-icon_personalization,
  .block-content-icon .block-content-icon_responsibility {
    width: 72px;
    height: 72px;
  }
  .block-content-icon img {
    width: 40px;
  }
}
.block-content-btn {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.block-content-btn a {
  display: flex;
  align-items: center;
  padding: 14px 19px 15px 24px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Satoshi", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  text-decoration: none;
  border-radius: 200px;
  color: var(--black);
  background: var(--white);
  transition: all 0.2s ease-out;
}
.block-content-btn a:hover {
  color: var(--blue);
}
.block-content-btn a:hover svg {
  color: var(--blue);
}
.block-content-btn a:focus, .block-content-btn a:active {
  background: var(--white);
  color: var(--blue);
}
.block-content-btn a:focus svg, .block-content-btn a:active svg {
  color: var(--blue);
}
.block-content-btn a svg {
  margin-left: 6px;
  width: 19px;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

@media (min-width: 1024px) {
  .block-content-btn {
    margin-top: 24px;
  }
  .block-content-btn a {
    letter-spacing: 0.3px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 21px 16px 20px 16px;
}
main .block {
  margin-bottom: 16px;
}
main .block .block_technology,
main .block .block_personalization,
main .block .block_responsibility {
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 23.5167px rgba(0, 0, 0, 0.06);
}
main .block_technology {
  background: var(--light-green);
}
main .block_personalization {
  background: var(--light-blue);
}
main .block_responsibility {
  background: var(--light-yellow);
}
main .block .block-content {
  padding: 24px 16px;
  height: 100%;
}
main .block .block-content .block-content-info h2 {
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  margin-top: 16px;
  margin-bottom: 8px;
  letter-spacing: 0;
  line-height: 1.2em;
}
main .block .block-content .block-content-info p {
  color: var(--gray);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 140%;
  margin: 0;
  line-height: 1.43em;
}
main .block:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  main {
    padding: 120px 41px 106px 41px;
  }
  main .block .block-content {
    padding: 24px;
  }
  main .block .block-content .block-content-info h2 {
    font-size: 32px;
  }
  main .block .block-content .block-content-info p {
    font-size: 16px;
    line-height: 1.375em;
  }
}
@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 180px 152px 174px 152px;
  }
  main .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
    margin-bottom: 0;
  }
  main .block:last-child {
    margin-right: 0;
  }
  main .block .block_technology,
  main .block .block_personalization,
  main .block .block_responsibility {
    max-width: 368px;
  }
  main .block .block-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .block .block-content .block-content-info h2 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 120%;
  }
}/*# sourceMappingURL=home-page.css.map */