/// Main scss
@use "./variables";
@use "./mixins" as mix;
@use "./icons" as *;
@use "./links" as *;

//Homepage
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 21px 16px 20px 16px;

  .block {
    margin-bottom: 16px;
    .block_technology,
    .block_personalization,
    .block_responsibility {
      height: 100%;
      border-radius: 12px;
      box-shadow: 0px 0px 23.5167px rgba(0, 0, 0, 0.06);
    }
    &_technology {
      background: var(--light-green);
    }
    &_personalization {
      background: var(--light-blue);
    }
    &_responsibility {
      background: var(--light-yellow);
    }

    .block-content {
      padding: 24px 16px;
      height: 100%;
      .block-content-info {
        h2 {
          color: var(--black);
          font-family: "Raleway", sans-serif;
          font-size: 26px;
          margin-top: 16px;
          margin-bottom: 8px;
          letter-spacing: 0;
          line-height: 1.2em;
        }
        p {
          color: var(--gray);
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          letter-spacing: 0px;
          line-height: 140%;
          margin: 0;
          line-height: 1.43em;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mix.tablet {
    padding: 120px 41px 106px 41px;
    .block {
      .block-content {
        padding: 24px;
        .block-content-info {
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 16px;
            line-height: 1.375em;
          }
        }
      }
    }
  }
  @include mix.desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 180px 152px 174px 152px;
    .block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 16px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      .block_technology,
      .block_personalization,
      .block_responsibility {
        max-width: 368px;
      }
      .block-content {
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .block-content-info {
          h2 {
            font-size: 32px;
            margin-top: 24px;
            margin-bottom: 16px;
            line-height: 120%;
          }
        }
      }
    }
  }
}
